/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --hue: 150;
  --sat: 100%;
  --lig: 38%;

  /* cor */
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 30%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighter: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /* font relacionado */
  --body-font: "Roboto", sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

/* Responsivo */
@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Padraos*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Css Classes  */
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid {
  display: grid;
  gap: 1rem;
}

/* Perfil */
.perfil {
  position: relative;
  padding-top: 3.5rem;
}

.perfil-container {
  row-gap: 2rem;
}

.perfil-dados {
  display: grid;
  text-align: center;
}

.perfil-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.perfil-borda {
  border: 3.5px solid var(--first-color);
  justify-self: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}

.perfil-nome {
  font-size: var(--h2-font-size);
}

.perfil-profissao {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.perfil-sociais {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.perfil-social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: 0.3s;
}
.perfil-social-link:hover {
  color: var(--first-color);
}

.perfil-infos {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 2.5rem;
}

.perfil-group-items {
  text-align: center;
}

.perfil-info-numero {
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
}

.perfil-info-desc {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

/* Botoes */
.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--first-color);
  color: #fff;
  padding: 1.15rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
}

.button i {
  font-size: 1.25rem;
}

.button:hover {
  background-color: var(--first-color-alt);
}

.perfil-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Abas do filtro projeto/skill */
.filtro-conteudo {
  margin: 2rem 0 2.5rem;
  background-color: var(--text-color-lighter);
  padding: 0.375rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.filtro-btn {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.filtro-btn:hover {
  background-color: var(--body-color);
}

/* Projetos */
.projetos-card {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  height: 250px;
}

.projetos-card img {
  width: 100%;
  height: auto;
}

.projetos-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(
    180deg,
    hsla(var(--hue), 24%, 40%, 0.3) 0%,
    hsla(var(--hue), 24%, 1%, 1) 95%
  );
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: 0.3s;
}

.projeto-subtitutlo,
.projeto-titulo {
  color: #fff;
}

.projeto-subtitutlo {
  font-size: var(--smaller-font-size);
}

.projeto-titulo {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.projetos-btn {
  padding: 0.5rem;
}

.projetos-card:hover .projetos-modal {
  bottom: 0;
}

/* Skills */
.skills-conteudo {
  row-gap: 3.5rem;
}

.skills-titulo {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills-box {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.skills-grupo {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills-dados {
  display: flex;
  column-gap: 0.5rem;
}

.skills-dados i {
  font-size: 1rem;
  color: var(--first-color);
}

.skill-nome {
  font-size: var(--normal-font-size);
  font-weight: 500;
  line-height: 18px;
}

.skill-level {
  font-size: var(--smaller-font-size);
}

/* Mostar/esconder projetos skills */
.filtro [data-content] {
  display: none;
}

.filtro-ativo[data-content] {
  display: grid;
}

.filtro-tab-ativo {
  background-color: var(--body-color);
}

/* Footer */
.footer-copy {
  display: block;
  margin: 2.5rem 0 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/* Barra do scroll */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--hue), 8%, 66%);
}

::-webkit-scrollbar-thumb {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--hue), 8%, 54%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 44%);
}
